* {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
body {
  background-color: #effb94;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-container {
  background-color: rgb(179, 214, 120);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(16, 124, 34, 0.254);
  width: 100%;
  max-width: 500px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #08260b;
}

input[type="text"],
input[type="password"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

input[type="text"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus {
  border-color: #004f03;
  outline: none;
}

.radio-group,
.checkbox-group {
  margin-bottom: 15px;
}

.radio-group label,
.checkbox-group label {
  margin-right: 15px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

button {
  background-color: #159119;
  color: white;
  border: none;
  padding: 12px 20px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

p {
  margin-bottom: 8px;
  color: #555;
}
